<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AutorizacaoFilter</filter-name>
        <filter-class>main.java.br.sp.senac.tads3a.grupo1.filter.AutorizacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutorizacaoFilter</filter-name>
        <url-pattern>/Protegido/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.CadastrarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.ExcluirClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioServlet</servlet-name>
        <servlet-class>FuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.CadastrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.AlterarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.ExcluirProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionarioServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.AlterarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFuncionarioServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.ExcluirFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFilialServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.ExcluirFilialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFilialServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.AlterarFilialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilialServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.FilialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionariosServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.FuncionariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.ProdutosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFilialServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.CadastrarFilialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarClienteServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.AlterarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoVendaServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.ProdutoVendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.VendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaTesteServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.VendaTesteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClienteServlet</servlet-name>
        <url-pattern>/CadastrarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <url-pattern>/ExcluirClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioServlet</servlet-name>
        <url-pattern>/FuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/ProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <url-pattern>/Produtos/CadastrarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <url-pattern>/AlterarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProdutoServlet</servlet-name>
        <url-pattern>/ExcluirProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionarioServlet</servlet-name>
        <url-pattern>/AlterarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFuncionarioServlet</servlet-name>
        <url-pattern>/ExcluirFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFilialServlet</servlet-name>
        <url-pattern>/ExcluirFilialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFilialServlet</servlet-name>
        <url-pattern>/AlterarFilialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilialServlet</servlet-name>
        <url-pattern>/FilialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionariosServlet</servlet-name>
        <url-pattern>/FuncionariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosServlet</servlet-name>
        <url-pattern>/ProdutosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFilialServlet</servlet-name>
        <url-pattern>/Filiais/CadastrarFilialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarClienteServlet</servlet-name>
        <url-pattern>/Clientes/AlterarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoVendaServlet</servlet-name>
        <url-pattern>/ProdutoVendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaServlet</servlet-name>
        <url-pattern>/VendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaTesteServlet</servlet-name>
        <url-pattern>/Protegido/VendaTesteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>CadastrarFuncionarioServlet</servlet-name>
        <servlet-class>main.java.br.sp.senac.tads3a.grupo1.servlet.CadastrarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionarioServlet</servlet-name>
        <url-pattern>/Funcionarios/CadastrarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Protegido/testeFiliais.jsp</welcome-file>
    </welcome-file-list>
</web-app>
